In [271]:
import pandas as pd
import numpy as np
import random 
data_path = "./cb_db_csv/"

In [2]:
pd.__version__

'0.23.4'

# cb_objects

In [11]:
df_object = pd.read_csv(data_path + 'cb_objects.csv', encoding = "ISO-8859-1")
df_object = df_object.replace(r'\N', np.nan)
df_object.founded_at = pd.to_datetime(df_object.founded_at)
df_object=df_object[pd.notnull(df_object['founded_at'])]
entity_type = ['Company']
df_object=df_object[df_object['entity_type'].isin(entity_type)]
df_object.category_code.unique()

17118087

array(['web', 'network_hosting', 'games_video', 'advertising',
       'cleantech', 'enterprise', 'other', 'consulting', 'mobile',
       'health', 'software', 'analytics', 'finance', 'education',
       'medical', 'manufacturing', 'ecommerce', 'public_relations',
       'hardware', nan, 'search', 'news', 'government', 'security',
       'biotech', 'photo_video', 'travel', 'semiconductor', 'social',
       'legal', 'transportation', 'hospitality', 'sports', 'nonprofit',
       'fashion', 'messaging', 'music', 'automotive', 'design',
       'real_estate', 'local', 'nanotech', 'pets'], dtype=object)

## Helper Method

## IPOs

In [389]:
df_ipo = pd.read_csv(data_path + 'cb_ipos.csv', encoding = "ISO-8859-1")
df_ipo = df_ipo.drop(['source_url','updated_at'],axis=1)
df_ipo = df_ipo.replace(r'\N', np.nan)
## drop object_id = null
## drop companies without id record
df_ipo = df_ipo[df_ipo.object_id.notnull()]

df_ipo = pd.merge(df_ipo,df_object[['id','founded_at']],how='left',left_on=['object_id'],right_on=['id'])


## make timestamp 
df_ipo.public_at = pd.to_datetime(df_ipo.public_at)
df_ipo.public_at = pd.to_datetime(df_ipo.created_at)
df_ipo['time_since_founded'] = pd.Timedelta('nan')
null_columns = df_ipo.columns[df_ipo.isnull().any()]
print(df_ipo[null_columns].isnull().sum())
df_ipo.shape

valuation_amount           1146
valuation_currency_code       2
raised_amount              1115
raised_currency_code        558
id_y                        547
founded_at                  547
time_since_founded         1254
dtype: int64

(1254, 13)

- Before: 1254
- Drop non-existing company id : 707

In [390]:
def getIPODuration(row):
    if pd.isnull(row['public_at']):
        row['public_at'] = row['created_at']
    if pd.notnull(row['founded_at']) and pd.notnull(row['public_at']):
        duration = row['public_at'] - row.founded_at
        row['time_since_founded'] = pd.to_timedelta([duration]).astype('timedelta64[D]').values
    return row
df_ipo = df_ipo.apply(getIPODuration, axis=1)
df_ipo = df_ipo[df_ipo['time_since_founded'].notnull()]
df_ipo = df_ipo.drop(['id_x','id_y','ipo_id','valuation_amount','valuation_currency_code','raised_amount','raised_currency_code',
                      'public_at','stock_symbol','created_at','founded_at'],axis=1)
df_ipo.sort_values(by=['time_since_founded'],inplace=True)
df_ipo = df_ipo[df_ipo['time_since_founded'].gt(-0.1)]

In [391]:
df_ipo

     object_id time_since_founded
27      c:4495                [1]
908   c:144059               [67]
11       c:475               [83]
198    c:10614              [121]
806   c:164413              [324]
691   c:145411              [340]
1224  c:281988              [694]
1253  c:235945              [711]
716    c:48759              [754]
611    c:22130              [896]
973   c:245010              [947]
1017  c:258641              [968]
1094  c:265792              [992]
309     c:1368             [1018]
229    c:37881             [1081]
681    c:11391             [1107]
709    c:24982             [1168]
15       c:108             [1197]
658    c:40482             [1253]
957   c:241173             [1301]
963    c:46007             [1306]
1034  c:258957             [1334]
867    c:37431             [1409]
1214   c:37940             [1414]
486     c:1448             [1448]
65     c:15609             [1476]
308    c:43666             [1531]
936    c:38270             [1598]
344     c:1249             [1636]
699     c:1812             [1695]
...        ...                ...
124      c:355            [25776]
508    c:64802            [26290]
259    c:39278            [27400]
727    c:34406            [27493]
431    c:58207            [27672]
216    c:37380            [27738]
1250   c:39330            [28470]
584     c:4304            [29679]
646    c:30927            [29811]
1229  c:223939            [29915]
753     c:1915            [30787]
2        c:342            [30797]
414    c:20016            [30933]
1163  c:274050            [31708]
428     c:7576            [32233]
166    c:34181            [32433]
537      c:541            [32533]
14      c:3658            [33323]
140    c:32510            [33504]
1246  c:258527            [33947]
550    c:30981            [34009]
1225   c:27295            [34662]
987    c:57929            [35654]
1022   c:26486            [36033]
746    c:59312            [36993]
710     c:7060            [38791]
367     c:4199            [39642]
1109   c:11318            [40280]
935    c:70725            [40374]
1027   c:20211            [40781]

[705 rows x 2 columns]

In [392]:
df_ipo.to_pickle('./dataframe_cleaned/df_ipo')

## Acquisition
### Acquistion date: created date 28 companies

In [ ]:
df_acq = pd.read_csv(data_path + 'cb_acquisitions.csv', encoding = "ISO-8859-1")
df_acq = df_acq.drop(['source_url','updated_at'],axis=1)

df_acq = df_acq.replace(r'\N', np.nan)
df_acq = df_acq[df_acq['acquired_object_id'].notnull()]

## Add acquistion data
df_acq.loc[df_acq['acquired_at'].isnull(),'acquired_at'] = df_acq.loc[df_acq['acquired_at'].isnull(),'created_at']
null_columns=df_acq.columns[df_acq.isnull().any()]
print(df_acq[null_columns].isnull().sum())


df_acq = pd.concat([df_acq, pd.get_dummies(df_acq['price_currency_code'])], axis=1, sort=False)
df_acq = pd.concat([df_acq, pd.get_dummies(df_acq['term_code'])], axis=1, sort=False)
df_acq = pd.merge(df_acq,df_object[['id','category_code']],how='left',left_on=['acquired_object_id'],right_on=['id'])

df_acq

In [20]:
## Acquiring
df_acq.acquired_at = pd.to_datetime(df_acq.acquired_at)
df_acq['acquiring_time_since_founded'] = pd.Timedelta('nan')
def getAcquiringDuration(row):
    df_row = df_object.loc[df_object['id'] == row['acquiring_object_id']]
    if not df_row.empty:
        if pd.notnull(df_row['founded_at'].values) and pd.notnull(row['acquired_at']):
            duration = row['acquired_at'] - df_row['founded_at']
            row['acquiring_time_since_founded'] = duration.astype('timedelta64[D]').values
    return row
df_acq = df_acq.apply(getAcquiringDuration, axis=1)

In [21]:
## Acquired
df_acq['acquired_time_since_founded'] = pd.Timedelta('nan')
def getAcquiredDuration(row):
    df_row = df_object.loc[df_object['id'] == row['acquired_object_id']]
    if not df_row.empty:
        if pd.notnull(df_row['founded_at'].values) and pd.notnull(row['acquired_at']):
            duration = row['acquired_at'] - df_row['founded_at']
            row['acquired_time_since_founded'] = duration.astype('timedelta64[D]').values
    return row
df_acq = df_acq.apply(getAcquiredDuration, axis=1)

In [22]:
df_acq.to_pickle('./dataframe_cleaned/df_acq') 
df_acq

,id_x,acquisition_id,acquiring_object_id,acquired_object_id,term_code,price_amount,price_currency_code,acquired_at,created_at,AUD,...,JPY,SEK,USD,cash,cash_and_stock,stock,id_y,category_code,acquiring_time_since_founded,acquired_time_since_founded
0,1,1,c:11,c:10,NaN,20000000,USD,2007-05-30,2007-05-31 22:19:54,0,...,0,0,1,0,0,0,NaN,NaN,[10225.0],NaT
1,2,7,c:59,c:72,cash,60000000,USD,2007-07-01,2007-07-03 08:14:50,0,...,0,0,1,1,0,0,c:72,mobile,[3219.0],[456.0]
2,3,8,c:24,c:132,cash,280000000,USD,2007-05-01,2007-07-12 04:19:24,0,...,0,0,1,1,0,0,c:132,music,[7790.0],[1946.0]
3,4,9,c:59,c:155,cash,100000000,USD,2007-06-01,2007-07-13 09:52:59,0,...,0,0,1,1,0,0,c:155,web,[3189.0],[1216.0]
4,5,10,c:212,c:215,cash,25000000,USD,2007-07-01,2007-07-20 05:29:07,0,...,0,0,1,1,0,0,c:215,web,[4929.0],[2860.0]
5,6,11,c:227,c:228,NaN,7140000,USD,2003-08-05,2007-07-20 09:58:29,0,...,0,0,1,0,0,0,c:228,web,[7078.0],[1496.0]
6,7,12,c:5,c:230,cash,NaN,USD,2007-07-01,2007-07-26 07:36:07,0,...,0,0,1,1,0,0,NaN,NaN,[1246.0],NaT
7,8,14,c:318,c:314,cash,NaN,USD,2006-10-01,2007-07-31 07:38:36,0,...,0,0,1,1,0,0,c:314,web,[-273.0],[638.0]
8,9,15,c:20,c:333,stock,1500000000,USD,2002-07-08,2007-08-01 09:58:26,0,...,0,0,1,0,0,1,c:333,finance,[2502.0],[1315.0]
9,10,16,c:342,c:341,cash,350000000,USD,2007-08-01,2007-08-02 09:12:27,0,...,0,0,1,1,0,0,c:341,games_video,[30605.0],[669.0]
10,11,17,c:24,c:347,cash,5000000,USD,2007-05-01,2007-08-03 06:05:22,0,...,0,0,1,1,0,0,c:347,games_video,[7790.0],[212.0]
11,12,18,c:349,c:348,cash,13000000,USD,2007-03-01,2007-08-03 06:58:37,0,...,0,0,1,1,0,0,NaN,NaN,[4442.0],NaT
12,13,19,c:355,c:354,cash,300000000,USD,2005-04-01,2007-08-03 13:53:49,0,...,0,0,1,1,0,0,c:354,network_hosting,[24197.0],[2282.0]
13,14,20,c:377,c:100,cash,NaN,USD,2005-05-29,2007-08-07 05:01:46,0,...,0,0,1,1,0,0,NaN,NaN,[148.0],NaT
14,15,22,c:351,c:366,cash_and_stock,40000000,USD,2006-08-14,2007-08-08 05:53:52,0,...,0,0,1,0,1,0,c:366,enterprise,[7752.0],[2051.0]
15,16,23,c:307,c:306,cash,NaN,USD,2007-08-07,2007-08-08 12:17:59,0,...,0,0,1,1,0,0,c:306,photo_video,[6.0],[1678.0]
16,17,24,c:212,c:394,cash,4100000,USD,2007-08-01,2007-08-09 14:22:53,0,...,0,0,1,1,0,0,c:394,web,[4960.0],[426.0]
17,18,26,c:499,c:495,cash,25000,USD,2007-07-01,2007-08-21 11:07:49,0,...,0,0,1,1,0,0,c:495,public_relations,[750.0],[0.0]
18,19,27,c:29,c:528,cash_and_stock,1000000000,USD,2005-08-11,2007-08-22 08:33:26,0,...,0,0,1,0,1,0,c:528,ecommerce,[4240.0],[2263.0]
19,20,28,c:29,c:530,cash,160000000,USD,2004-09-01,2007-08-22 08:49:57,0,...,0,0,1,1,0,0,NaN,NaN,[3896.0],NaT
20,21,29,c:541,c:52,cash,327000000,USD,2007-02-01,2007-08-22 10:59:20,0,...,0,0,1,1,0,0,NaN,NaN,[31077.0],NaT
21,22,30,c:541,c:542,cash,NaN,USD,2006-01-01,2007-08-22 11:02:11,0,...,0,0,1,1,0,0,NaN,NaN,[30681.0],NaT
22,23,31,c:568,c:201,cash,15000000,USD,2007-04-01,2007-08-23 12:36:05,0,...,0,0,1,1,0,0,c:201,web,[3012.0],[2008.0]
23,24,32,c:570,c:569,cash,560000000,USD,2005-06-01,2007-08-23 12:48:06,0,...,0,0,1,1,0,0,c:569,web,NaT,[3287.0]
24,25,33,c:20,c:571,cash,620000000,USD,2005-06-02,2007-08-23 12:50:42,0,...,0,0,1,1,0,0,c:571,web,[3562.0],[2709.0]
25,26,34,c:317,c:572,cash,NaN,USD,2007-05-01,2007-08-23 13:07:41,0,...,0,0,1,1,0,0,c:572,web,[4868.0],[3049.0]
26,27,35,c:573,c:574,cash,1008000000,USD,2005-07-01,2007-08-23 13:30:17,0,...,0,0,1,1,0,0,c:574,web,[16618.0],[2465.0]
27,28,36,c:583,c:581,cash,1250000000,USD,2004-11-01,2007-08-23 15:06:45,0,...,0,0,1,1,0,0,c:581,ecommerce,NaT,[1219.0]
28,29,37,c:584,c:585,cash,128000000,USD,2004-11-12,2007-08-23 15:11:57,0,...,0,0,1,1,0,0,c:585,web,[3603.0],[3603.0]
29,30,38,c:590,c:588,cash,NaN,USD,2004-11-01,2007-08-24 11:35:53,0,...,0,0,1,1,0,0,NaN,NaN,[1503.0],NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9531,9533,10496,c:230880,c:285385,cash_and_stock,3500000000,USD,2013-12-09,2013-12-10 06:18:31,0,...,0,0,1,0,1,0,NaN,NaN,[16413.0],NaT
9532,9534,10497,c:50953,c:26342,NaN,50000000,USD,2013-12-09,2013-12-10 06:22:31,0,...,0,0,1,0,0,0,NaN,NaN,[4725.0],NaT
9533,9535,10498,c:285396,c:285399,NaN,23000000,USD,2013-12-09,2013-12-10 06:51:30,0,...,0,0,1,0,0,0,c:285399,finance,[40520.0],[2534.0]
9534,9536,10499,c:129,c:142814,NaN,NaN,USD,2013-12-10,2013-12-10 17:59:00,0,...,0,0,1,0,0,0,c:142814,software,[3206.0],[1804.0]
9535,9537,10500,c:42365,c:79582,NaN,NaN,USD,2013-12-10,2013-12-10 23:06:08,0,...,0,0,1,0,0,0,c:79582,software,[5457.0],[1663.0]
9536,9538,10501,c:258527,c:285601,NaN,260000000,USD,2013-12-10,2013-12-11 03:34:14,0,...,0,0,1,0,0,0,NaN,NaN,[33946.0],NaT
9537,9539,10502,c:258527,c:285603,NaN,28000000,USD,2013-12-10,2013-12-11 03:42:31,0,...,0,0,1,0,0,0,NaN,NaN,[33946.0],NaT
9538,9540,10503,c:1434,c:60436,NaN,NaN,USD,2013-12-10,2013-12-11 04:02:14,0,...,0,0,1,0,0,0,c:60436,enterprise,[3723.0],[2445.0]
9539,9541,10505,c:233530,c:285623,NaN,NaN,USD,2013-12-09,2013-12-11 05:47:23,0,...,0,0,1,0,0,0,c:285623,NaN,[34676.0],[3995.0]
9540,9542,10506,c:285627,c:285630,NaN,NaN,USD,2013-12-09,2013-12-11 05:54:40,0,...,0,0,1,0,0,0,NaN,NaN,[4360.0],NaT
9541,9543,10507,c:29,c:169154,NaN,NaN,USD,2013-12-09,2013-12-11 06:59:08,0,...,0,0,1,0,0,0,c:169154,software,[7282.0],[1040.0]
9542,9544,10511,c:205470,c:45837,NaN,NaN,USD,2013-12-10,2013-12-11 12:53:10,0,...,0,0,1,0,0,0,c:45837,other,[7283.0],[3175.0]
9543,9545,10512,c:195465,c:195464,cash_and_stock,1000000,USD,2012-01-01,2013-12-11 15:32:03,0,...,0,0,1,0,1,0,c:195464,other,[0.0],[5113.0]
9544,9546,10513,c:43761,c:43761,NaN,NaN,USD,2011-11-22,2013-12-11 17:23:28,0,...,0,0,1,0,0,0,NaN,NaN,NaT,NaT
9545,9547,10514,c:285827,c:146509,NaN,NaN,USD,2012-07-24,2013-12-11 17:31:03,0,...,0,0,1,0,0,0,c:146509,web,NaT,[217.0]
9546,9548,10515,c:22784,c:237136,NaN,NaN,USD,2013-12-11,2013-12-11 18:09:55,0,...,0,0,1,0,0,0,c:237136,finance,[1774.0],[436.0]
9547,9549,10516,c:1600,c:71968,NaN,NaN,USD,2011-11-10,2013-12-11 21:51:58,0,...,0,0,1,0,0,0,c:71968,ecommerce,[2504.0],[313.0]
9548,9550,10517,c:285921,c:71996,NaN,NaN,USD,2013-08-31,2013-12-11 22:40:11,0,...,0,0,1,0,0,0,c:71996,web,NaT,[1338.0]
9549,9551,10518,c:16591,c:209849,NaN,1100000000,USD,2013-12-10,2013-12-12 03:53:23,0,...,0,0,1,0,0,0,NaN,NaN,[6918.0],NaT
9550,9552,10519,c:10120,c:285956,NaN,NaN,USD,2013-12-11,2013-12-12 04:29:59,0,...,0,0,1,0,0,0,NaN,NaN,[5458.0],NaT
9551,9553,10520,c:672,c:285961,NaN,16140150,USD,2013-12-11,2013-12-12 04:46:21,0,...,0,0,1,0,0,0,c:285961,local,[5823.0],[5093.0]
9552,9554,10521,c:16259,c:283148,cash,200000000,USD,2013-12-11,2013-12-12 04:51:28,0,...,0,0,1,1,0,0,c:283148,network_hosting,NaT,[7284.0]
9553,9555,10522,c:285964,c:13710,cash_and_stock,57500000,GBP,2013-09-13,2013-12-12 05:02:53,0,...,0,0,0,0,1,0,c:13710,software,[12309.0],[2082.0]
9554,9556,10523,c:285968,c:285969,cash,2500000000,USD,2013-12-11,2013-12-12 05:16:17,0,...,0,0,1,1,0,0,NaN,NaN,[10571.0],NaT
9555,9557,10524,c:285984,c:285991,NaN,NaN,USD,2013-12-11,2013-12-12 05:40:14,0,...,0,0,1,0,0,0,NaN,NaN,[4362.0],NaT
9556,9558,10525,c:267859,c:285995,stock,222000000,USD,2013-12-11,2013-12-12 05:47:35,0,...,0,0,1,0,0,1,NaN,NaN,NaT,NaT
9557,9559,10526,c:285493,c:286006,NaN,NaN,USD,2013-12-09,2013-12-12 06:10:48,0,...,0,0,1,0,0,0,c:286006,NaN,[38694.0],[4360.0]
9558,9560,10527,c:223792,c:220208,NaN,26000000000,USD,2007-07-03,2013-12-12 10:28:16,0,...,0,0,1,0,0,0,NaN,NaN,[8218.0],NaT
9559,9561,10528,c:227620,c:286176,cash,52400000,USD,2013-12-12,2013-12-12 12:36:09,0,...,0,0,1,1,0,0,c:286176,hospitality,[7650.0],[17147.0]
9560,9562,10529,c:53,c:92846,NaN,42600000,USD,2013-12-12,2013-12-12 12:38:35,0,...,0,0,1,0,0,0,c:92846,mobile,[3055.0],[885.0]

In [149]:
## Acquiring

df_acquiring = df_acq.set_index(['acquiring_object_id','acquired_object_id']).sort_index()
df_acquiring.sort_values(by=['acquiring_time_since_founded'],inplace=True)
df_acquiring.drop(['id_x','acquisition_id','acquired_at','acquired_time_since_founded','id_y'],axis=1,inplace=True)
df_acquiring = df_acquiring[df_acquiring['acquiring_time_since_founded'].notnull()]
df_acquiring = df_acquiring[df_acquiring['acquiring_time_since_founded'].gt(0)]

## category average price

In [150]:
category = df_acquiring[df_acquiring['category_code'].notnull()]['category_code'].unique()
avg_price = []
for ctg in category:
    row = df_acquiring.loc[df_acquiring["category_code"]==ctg,['price_amount']]
    price = row[pd.notnull(row.price_amount)].astype('float128').mean()
    avg_price.append(price)
price_dic = dict(zip(category,avg_price))

In [152]:
def getPrice(row):
    if row[['price_amount']].isnull().item() and row[['category_code']].notnull().item():
        row[['price_amount']] = price_dic[row['category_code']]
    return row
df_acquiring = df_acquiring.apply(getPrice,axis=1)
df_acquiring = df_acquiring.dropna(subset=['category_code','price_amount'],how='all')

In [153]:
df_acquiring = df_acquiring[df_acquiring['price_amount'].notnull()]

df_acquiring = df_acquiring.drop(['price_currency_code','term_code','created_at','category_code'],axis=1)

In [166]:
df_acquiring

                                       price_amount  AUD  CAD  EUR  GBP  JPY  \
acquiring_object_id acquired_object_id
c:260783            c:80142             2.40649e+08    0    0    0    0    0
c:307               c:306               2.39394e+08    0    0    0    0    0
c:60326             c:146208                1000000    0    0    0    0    0
c:15461             c:15460                   70000    0    0    0    0    0
c:192899            c:193355                 330000    0    0    0    0    0
c:138299            c:141275                  15000    0    0    0    0    0
c:80259             c:4716              2.40649e+08    0    0    0    0    0
c:166448            c:40101             2.12816e+08    0    0    0    0    0
c:82144             c:60638              3.4151e+08    0    0    0    0    0
c:5457              c:5456                     5000    0    0    0    0    0
c:64703             c:59456             3.83585e+08    0    0    0    0    0
c:195859            c:195858                 100000    0    0    0    0    0
c:221698            c:190514                   5000    0    0    0    0    0
c:171432            c:44839                    3000    0    0    0    0    0
c:47470             c:23476              4.0615e+08    0    0    0    0    0
c:23010             c:110               2.94595e+08    0    0    0    0    0
c:279935            c:169569            2.40649e+08    0    0    0    0    0
c:85143             c:47064             2.40649e+08    0    0    0    0    0
c:207479            c:150485            2.94595e+08    0    0    0    0    0
c:15180             c:5783              3.02894e+08    0    0    0    0    0
c:190559            c:38003             2.94595e+08    0    0    0    0    0
c:84204             c:43263             2.94595e+08    0    0    0    0    0
c:45891             c:45891             2.94595e+08    0    0    0    0    0
c:175916            c:25200             2.94595e+08    0    0    0    0    0
c:64703             c:71792             5.86052e+08    0    0    0    0    0
c:193054            c:42069             2.40649e+08    0    0    0    0    0
c:45772             c:45773             2.94595e+08    0    0    0    0    0
c:257213            c:116092             4.0615e+08    0    0    0    0    0
c:176998            c:163003            2.94595e+08    0    0    0    0    0
c:150328            c:25307             2.40649e+08    0    0    0    0    0
...                                             ...  ...  ...  ...  ...  ...
c:83647             c:28502               266000000    0    0    0    0    0
c:26486             c:3445                 27700000    0    0    0    0    0
                    c:3525                 27000000    0    0    0    0    0
c:7060              c:50055                54000000    0    0    0    0    0
c:31279             c:31278                98300000    0    0    0    0    0
c:1246              c:596                  45000000    0    0    0    0    0
c:20211             c:26091              4.0615e+08    0    0    0    0    0
c:15446             c:153534            7.05912e+08    0    0    0    0    0
c:59312             c:228074              195000000    0    0    0    0    0
c:31357             c:32180               175000000    0    0    0    0    0
c:259799            c:183726               30400000    0    0    0    0    0
c:7060              c:25775              5750000000    0    0    0    0    0
c:276618            c:276620               64000000    0    0    0    0    0
c:44898             c:141919               72500000    0    0    0    0    0
c:31357             c:31356                62870000    0    0    0    0    0
c:20211             c:35403                95000000    0    0    0    0    0
c:4199              c:6833              2.64731e+08    0    0    0    0    0
c:14011             c:3455              2.64731e+08    0    0    0    0    0
c:7060              c:77348              4.0615e+08    0    0    0    0    0
c:157985            c:198069               54800000    0    0    0    0    0
c:261784            c:69808              1250000000    0    0    0    0    0
c:7060              c:31310             2.40649e+08    0    0    0    0    0
c:4199              c:12208             3.83585e+08    0    0    0    0    0
c:20211             c:55583               230000000    0    0    0    0    0
c:57396             c:57393             7.77954e+08    0    0    0    0    0
c:4199              c:12440                 4000000    0    0    0    0    0
                    c:15491               175000000    0    0    0    0    0
c:29929             c:23052               270000000    0    0    0    0    0
c:11318             c:239331                9000000    0    0    0    0    0
c:285396            c:285399               23000000    0    0    0    0    0

                                        SEK  USD  cash  cash_and_stock  stock  \
acquiring_object_id acquired_object_id
c:260783            c:80142               0    1     0               0      0
c:307               c:306                 0    1     1               0      0
c:60326             c:146208              0    1     0               0      1
c:15461             c:15460               0    1     1               0      0
c:192899            c:193355              0    1     0               1      0
c:138299            c:141275              0    1     1               0      0
c:80259             c:4716                0    1     0               0      0
c:166448            c:40101               0    1     0               0      0
c:82144             c:60638               0    1     0               0      0
c:5457              c:5456                0    1     1               0      0
c:64703             c:59456               0    1     0               0      0
c:195859            c:195858              0    1     1               0      0
c:221698            c:190514              0    1     1               0      0
c:171432            c:44839               0    1     0               1      0
c:47470             c:23476               0    1     0               0      0
c:23010             c:110                 0    1     0               0      1
c:279935            c:169569              0    1     0               0      0
c:85143             c:47064               0    1     0               0      0
c:207479            c:150485              0    1     0               0      0
c:15180             c:5783                0    1     0               0      0
c:190559            c:38003               0    1     0               0      0
c:84204             c:43263               0    1     0               0      0
c:45891             c:45891               0    1     1               0      0
c:175916            c:25200               0    1     0               0      0
c:64703             c:71792               0    1     0               0      0
c:193054            c:42069               0    1     0               1      0
c:45772             c:45773               0    1     0               1      0
c:257213            c:116092              0    1     0               0      0
c:176998            c:163003              0    1     0               0      0
c:150328            c:25307               0    1     0               1      0
...                                     ...  ...   ...             ...    ...
c:83647             c:28502               0    1     0               0      0
c:26486             c:3445                0    1     0               0      0
                    c:3525                0    1     0               0      0
c:7060              c:50055               0    1     0               0      0
c:31279             c:31278               0    1     0               0      0
c:1246              c:596                 0    1     1               0      0
c:20211             c:26091               0    1     0               0      0
c:15446             c:153534              0    1     0               0      0
c:59312             c:228074              0    1     0               0      0
c:31357             c:32180               0    1     0               0      0
c:259799            c:183726              0    1     0               0      0
c:7060              c:25775               0    1     0               1      0
c:276618            c:276620              0    1     0               0      0
c:44898             c:141919              0    1     1               0      0
c:31357             c:31356               0    1     0               0      0
c:20211             c:35403               0    1     1               0      0
c:4199              c:6833                0    1     0               0      0
c:14011             c:3455                0    1     1               0      0
c:7060              c:77348               0    1     0               0      0
c:157985            c:198069              0    1     0               1      0
c:261784            c:69808               0    1     0               0      0
c:7060              c:31310               0    1     0               0      0
c:4199              c:12208               0    1     0               0      0
c:20211             c:55583               0    1     1               0      0
c:57396             c:57393               0    1     0               0      0
c:4199              c:12440               0    1     0               0      0
                    c:15491               0    1     0               0      0
c:29929             c:23052               0    1     0               0      1
c:11318             c:239331              0    1     0               0      0
c:285396            c:285399              0    1     0               0      0

                                       acquiring_time_since_founded
acquiring_object_id acquired_object_id
c:260783            c:80142                                   [1.0]
c:307               c:306                                     [6.0]
c:60326             c:146208                                 [14.0]
c:15461             c:15460                                  [25.0]
c:192899            c:193355                                 [27.0]
c:138299            c:141275                                 [29.0]
c:80259             c:4716                                   [31.0]
c:166448            c:40101                                  [31.0]
c:82144             c:60638                                  [39.0]
c:5457              c:5456                                   [41.0]
c:64703             c:59456                                  [41.0]
c:195859            c:195858                                 [42.0]
c:221698            c:190514                                 [45.0]
c:171432            c:44839                                  [49.0]
c:47470             c:23476                                  [59.0]
c:23010             c:110                                    [59.0]
c:279935            c:169569                                 [61.0]
c:85143             c:47064                                  [61.0]
c:207479            c:150485                                 [61.0]
c:15180             c:5783                                   [71.0]
c:190559            c:38003                                  [75.0]
c:84204             c:43263                                  [75.0]
c:45891             c:45891                                  [75.0]
c:175916            c:25200                                  [78.0]
c:64703             c:71792                                  [78.0]
c:193054            c:42069                                  [82.0]
c:45772             c:45773                                  [91.0]
c:257213            c:116092                                 [91.0]
c:176998            c:163003                                 [92.0]
c:150328            c:25307                                  [92.0]
...                                                             ...
c:83647             c:28502                               [35525.0]
c:26486             c:3445                                [35585.0]
                    c:3525                                [36000.0]
c:7060              c:50055                               [36800.0]
c:31279             c:31278                               [37085.0]
c:1246              c:596                                 [37163.0]
c:20211             c:26091                               [37255.0]
c:15446             c:153534                              [37344.0]
c:59312             c:228074                              [37425.0]
c:31357             c:32180                               [37725.0]
c:259799            c:183726                              [37861.0]
c:7060              c:25775                               [37891.0]
c:276618            c:276620                              [37925.0]
c:44898             c:141919                              [37938.0]
c:31357             c:31356                               [37949.0]
c:20211             c:35403                               [38274.0]
c:4199              c:6833                                [38360.0]
c:14011             c:3455                                [38441.0]
c:7060              c:77348                               [38495.0]
c:157985            c:198069                              [38665.0]
c:261784            c:69808                               [38964.0]
c:7060              c:31310                               [39237.0]
c:4199              c:12208                               [39640.0]
c:20211             c:55583                               [39689.0]
c:57396             c:57393                               [39711.0]
c:4199              c:12440                               [39793.0]
                    c:15491                               [40201.0]
c:29929             c:23052                               [40224.0]
c:11318             c:239331                              [40280.0]
c:285396            c:285399                              [40520.0]

[4130 rows x 12 columns]

In [160]:
df_acquiring.to_pickle('./dataframe_cleaned/df_acquiring')

Before kicking away the negative durations 
- 9532 rows Ã— 4 columns 

After kicking away the negative durations 
- 6866 rows Ã— 4 columns

After dropping entries with missing values price amount
- 1875 rows Ã— 4 columns

Current:
- 4130 rows

## Acquired

Before kicking away the negative durations 
- 9532 rows Ã— 4 columns

After kicking away the negative durations 
- 4821 rows Ã— 4 columns

In [165]:
df_acquired = df_acq.set_index(['acquired_object_id']).sort_index()
df_acquired.sort_values(by=['acquired_time_since_founded'],inplace=True)
df_acquired.drop(['id_x','id_y','created_at','category_code','acquisition_id','acquiring_object_id','acquired_at','acquiring_time_since_founded','term_code','price_amount','price_currency_code'],axis=1,inplace=True)
df_acquired = df_acquired[df_acquired['acquired_time_since_founded'].gt(0)]

df_acquired.to_pickle('./dataframe_cleaned/df_acquired') 
df_acquired

,AUD,CAD,EUR,GBP,JPY,SEK,USD,cash,cash_and_stock,stock,acquired_time_since_founded
acquired_object_id,,,,,,,,,,,
c:22103,0,0,0,0,0,0,1,1,0,0,[18.0]
c:54651,0,0,0,0,0,0,1,0,0,0,[29.0]
c:159552,0,0,0,0,0,0,1,0,0,1,[31.0]
c:329,0,0,0,0,0,0,1,0,0,0,[31.0]
c:2315,0,0,0,0,0,0,1,0,0,0,[31.0]
c:54405,0,0,0,0,0,0,1,0,0,0,[59.0]
c:8565,0,0,0,0,0,0,1,0,0,0,[67.0]
c:86,0,0,0,0,0,0,1,0,0,0,[67.0]
c:45891,0,0,0,0,0,0,1,1,0,0,[75.0]
c:193193,0,0,0,0,0,0,1,0,0,0,[86.0]
c:192352,0,0,0,0,0,0,1,0,0,0,[90.0]
c:681,0,0,0,0,0,0,1,1,0,0,[90.0]
c:47111,0,0,0,0,0,0,1,1,0,0,[92.0]
c:149002,0,0,0,0,0,0,1,0,0,0,[92.0]
c:195841,0,0,0,0,0,0,1,0,0,0,[100.0]
c:3306,0,0,0,0,0,0,1,1,0,0,[103.0]
c:2370,0,0,0,0,0,0,1,0,1,0,[107.0]
c:213362,0,0,0,0,0,0,1,0,0,0,[108.0]
c:27053,0,0,0,0,0,0,1,0,0,0,[121.0]
c:1229,0,0,0,0,0,0,1,0,1,0,[121.0]
c:156584,0,0,0,0,0,0,1,0,0,0,[122.0]
c:175581,0,0,0,0,0,0,1,0,0,0,[122.0]
c:212610,0,0,0,0,0,0,1,0,0,0,[129.0]
c:183206,0,0,0,0,0,0,1,0,0,1,[132.0]
c:211517,0,0,0,0,0,0,1,0,0,0,[134.0]
c:187849,0,0,0,0,0,0,1,0,0,0,[136.0]
c:3138,0,0,0,0,0,0,1,0,0,0,[141.0]
c:182466,0,0,0,0,0,0,1,0,0,0,[143.0]
c:8652,0,0,0,0,0,0,1,1,0,0,[146.0]
c:245790,0,0,0,0,0,0,1,0,0,0,[149.0]
...,...,...,...,...,...,...,...,...,...,...,...
c:30506,0,0,0,0,0,0,1,0,0,0,[24658.0]
c:269416,0,0,0,0,0,0,1,0,0,0,[24747.0]
c:38641,0,0,0,0,0,0,1,0,0,0,[24828.0]
c:242705,0,0,0,0,0,0,1,0,0,0,[26752.0]
c:216499,0,0,0,0,0,0,1,0,0,0,[27342.0]
c:25631,0,0,0,0,0,0,1,0,0,0,[27513.0]
c:32156,0,0,0,0,0,0,1,0,0,0,[28032.0]
c:29313,0,0,0,0,0,0,1,1,0,0,[28116.0]
c:267421,0,0,0,0,0,0,1,0,0,0,[28392.0]
c:5296,0,0,0,0,0,0,1,0,0,0,[29436.0]
c:34009,0,0,0,0,0,0,1,0,0,0,[29505.0]
c:2332,0,0,0,0,0,0,1,0,1,0,[29517.0]
c:51460,0,0,0,0,0,0,1,0,0,0,[29704.0]
c:81111,0,0,0,0,0,0,1,1,0,0,[30135.0]
c:86083,0,0,0,0,0,0,1,1,0,0,[30186.0]
c:10232,0,0,0,0,0,0,1,0,0,0,[30591.0]
c:270108,0,0,0,0,0,0,1,1,0,0,[30595.0]
c:220985,0,0,0,0,0,0,1,0,0,0,[30903.0]
c:58517,0,0,0,0,0,0,1,0,0,0,[30979.0]
c:7389,0,0,0,0,0,0,1,0,0,0,[31502.0]
c:25144,0,0,0,0,0,0,1,0,0,0,[32415.0]
c:241120,0,0,0,0,0,0,1,0,0,0,[33442.0]
c:256351,0,0,0,0,0,0,1,0,0,0,[33468.0]
c:271047,0,0,0,0,0,0,1,0,0,0,[33520.0]
c:256435,0,0,0,0,0,0,1,0,0,0,[34564.0]
c:4988,0,0,0,0,0,0,1,0,0,0,[35685.0]
c:34088,0,0,0,0,0,0,1,0,0,0,[36326.0]
c:26287,0,0,0,0,0,0,1,0,0,0,[36591.0]
c:277231,0,0,0,0,0,0,1,0,0,1,[39754.0]
c:213995,0,0,0,0,0,0,1,0,0,0,[40318.0]

## Funding

## Funding Data
- Initial: 17689 companies 31954 rows
- After: 16778 companies , 25854 rows

In [350]:
TermList = ['angel','seed','a', 'b','c','d','e','f','g']
            # 'convertible','crowd','crowd_equity','debt_round','grant',
            # 'partial','post_ipo_debt','post_ipo_equity','private_equity','secondary_market','unattributed']

In [351]:
df_funding= pd.read_csv(data_path + 'cb_funding_rounds.csv', encoding = "ISO-8859-1")

df_funding = df_funding.replace(r'\N', np.nan)


#drop those funding rounds out of concern
df_funding = df_funding[df_funding['funding_round_code'].isin(TermList)]
df_funding = pd.concat([df_funding, pd.get_dummies(df_funding['funding_round_code'])], axis=1, sort=False)

df_funding = pd.merge(df_funding,df_object[['id','founded_at']],how='left',left_on=['object_id'],right_on=['id'])
df_funding = df_funding.drop(['source_url','created_by','pre_money_valuation_usd',
                            'pre_money_valuation','pre_money_currency_code','post_money_valuation_usd',
                             'post_money_valuation','post_money_currency_code','raised_amount','raised_currency_code'], axis=1)
df_funding

df_funding = df_funding[df_funding['founded_at'].notnull()]

df_funding['created_at'] =  pd.to_datetime(df_funding['created_at'])
df_funding.funded_at = pd.to_datetime(df_funding.funded_at)

In [352]:

def getFundDate(row):
    if row[['funded_at']].isnull().item():
        if row[['is_last_round']].item()==1 or (row[['funding_round_code']] == 'angel').item()==1:
            row[['funded_at']] = row[['founded_at']]
        elif row[['is_first_round']].item()==1 or (row[['funding_round_code']] == 'a').item()==1:
            row[['funded_at']] = row[['created_at']]
        elif (row[['funding_round_code']] =='seed').item()==1:
            pre_rows = df_funding[df_funding['object_id'] == row['object_id']]
            angel_row = pre_rows[pre_rows['funding_round_code']=='angel']
            if not angel_row.empty and angel_row['funded_at'].notnull().item()==1:
                td = row['created_at'] - angel_row['funded_at']
                td = td.astype('timedelta64[D]').values
                delta = random.randint(1,td)
                row[['funded_at']] = angel_row[['funded_at']] + pd.DateOffset(days=delta)
            else:
                row[['funded_at']] = row[['created_at']]
        elif (row[['funding_round_code']] =='b').item()==1:
            pre_rows = df_funding[df_funding['object_id'] == row['object_id']]
            angel_row = pre_rows[pre_rows['funding_round_code']=='a']
            if not angel_row.empty and angel_row['funded_at'].notnull().item()==1:
                td = row['created_at'] - angel_row['funded_at']
                td = td.astype('timedelta64[D]').values
                delta = random.randint(1,td)
                row[['funded_at']] = angel_row[['funded_at']] + pd.DateOffset(days=delta)
            else:
                row[['funded_at']] = row[['created_at']]
        elif (row[['funding_round_code']] =='c').item()==1:
            pre_rows = df_funding[df_funding['object_id'] == row['object_id']]
            angel_row = pre_rows[pre_rows['funding_round_code']=='b']
            if not angel_row.empty and angel_row['funded_at'].notnull().item()==1:
                td = row['created_at'] - angel_row['funded_at']
                td = td.astype('timedelta64[D]').values
                delta = random.randint(1,td)
                row[['funded_at']] = angel_row[['funded_at']] + pd.DateOffset(days=delta)
            else:
                row[['funded_at']] = row[['created_at']]
    return row

df_funding = df_funding.apply(getFundDate,axis=1)

In [353]:
## make timestamp 

df_funding['time_since_founded'] = pd.Timedelta('nan')

def getDuration(row):
    
    #df_row = df_object.loc[df_object['id'] == row.object_id]
    #if not df_row.empty:
    if pd.notnull(row['founded_at']) and pd.notnull(row['funded_at']):
    #        duration = row.funded_at - df_row.founded_at
        duration = row.funded_at - row.founded_at
        row['time_since_founded'] = pd.to_timedelta([duration]).astype('timedelta64[D]').values
    return row

df_funding = df_funding.apply(getDuration,axis=1)

#only positive date
df_funding = df_funding[df_funding['time_since_founded'].gt(-0.1)]
df_funding['time_since_founded'] = df_funding['time_since_founded'].astype(int)

In [354]:
df_funding.sort_values(by=['time_since_founded'],inplace=True)
df_funding

,id_x,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,participants,is_first_round,is_last_round,...,b,c,d,e,f,g,seed,id_y,founded_at,time_since_founded
16944,26956,26956,c:144040,2008-03-01,angel,seed,1000000,0,1,1,...,0,0,0,0,0,0,1,c:144040,2008-03-01,0
4093,4962,4962,c:18038,2006-09-01,series-a,a,13350000,4,0,1,...,0,0,0,0,0,0,0,c:18038,2006-09-01,0
19165,30642,30642,c:161452,2012-01-01,angel,seed,NaN,0,1,1,...,0,0,0,0,0,0,1,c:161452,2012-01-01,0
19166,30643,30643,c:161453,2012-01-01,angel,seed,100000,0,1,1,...,0,0,0,0,0,0,1,c:161453,2012-01-01,0
19169,30648,30648,c:161480,2012-02-01,angel,angel,250000,1,1,1,...,0,0,0,0,0,0,0,c:161480,2012-02-01,0
28530,48635,48635,c:264245,2009-07-01,angel,angel,NaN,1,0,1,...,0,0,0,0,0,0,0,c:264245,2009-07-01,0
4121,5004,5004,c:18202,2008-04-01,angel,seed,425000,2,0,1,...,0,0,0,0,0,0,1,c:18202,2008-04-01,0
19187,30677,30677,c:51578,2009-01-01,angel,angel,695850,0,0,1,...,0,0,0,0,0,0,0,c:51578,2009-01-01,0
19191,30683,30683,c:161699,2011-06-01,angel,seed,575000,1,1,1,...,0,0,0,0,0,0,1,c:161699,2011-06-01,0
19212,30717,30717,c:161944,2012-03-01,angel,angel,1000000,5,1,1,...,0,0,0,0,0,0,0,c:161944,2012-03-01,0
4145,5036,5036,c:4299,2003-01-01,angel,seed,1000000,0,1,1,...,0,0,0,0,0,0,1,c:4299,2003-01-01,0
28502,48542,48542,c:263989,2011-01-01,angel,seed,650000,0,1,1,...,0,0,0,0,0,0,1,c:263989,2011-01-01,0
13601,21419,21419,c:68549,2011-02-11,angel,seed,50000,0,1,1,...,0,0,0,0,0,0,1,c:68549,2011-02-11,0
13592,21396,21396,c:68486,2009-01-01,angel,angel,NaN,0,1,1,...,0,0,0,0,0,0,0,c:68486,2009-01-01,0
13587,21387,21387,c:68442,2010-01-01,angel,seed,NaN,1,1,1,...,0,0,0,0,0,0,1,c:68442,2010-01-01,0
19232,30750,30750,c:162067,2005-01-01,angel,seed,1000,0,1,1,...,0,0,0,0,0,0,1,c:162067,2005-01-01,0
4184,5083,5083,c:18701,2008-10-01,angel,seed,100000,0,1,1,...,0,0,0,0,0,0,1,c:18701,2008-10-01,0
4188,5088,5088,c:18741,2008-05-01,angel,angel,279720,6,1,1,...,0,0,0,0,0,0,0,c:18741,2008-05-01,0
28549,48672,48672,c:264553,2012-10-01,angel,seed,250000,0,1,1,...,0,0,0,0,0,0,1,c:264553,2012-10-01,0
13574,21361,21361,c:68329,2010-01-01,angel,angel,200000,0,0,0,...,0,0,0,0,0,0,0,c:68329,2010-01-01,0
19162,30639,30639,c:45196,2009-09-01,angel,seed,143140,1,1,1,...,0,0,0,0,0,0,1,c:45196,2009-09-01,0
13671,21536,21536,c:69063,2009-09-01,angel,seed,NaN,0,1,1,...,0,0,0,0,0,0,1,c:69063,2009-09-01,0
28705,49127,49127,c:265497,2012-10-11,angel,seed,NaN,0,1,1,...,0,0,0,0,0,0,1,c:265497,2012-10-11,0
19125,30579,30579,c:161240,2010-10-01,series-a,seed,1500000,0,0,1,...,0,0,0,0,0,0,1,c:161240,2010-10-01,0
28693,49092,49092,c:265463,2013-06-01,angel,seed,50000,0,1,1,...,0,0,0,0,0,0,1,c:265463,2013-06-01,0
13719,21622,21622,c:64996,2010-01-01,angel,seed,1150000,1,1,1,...,0,0,0,0,0,0,1,c:64996,2010-01-01,0
4009,4848,4848,c:17758,2006-09-06,series-a,a,4000000,1,0,1,...,0,0,0,0,0,0,0,c:17758,2006-09-06,0
28677,49041,49041,c:265370,2013-06-01,angel,seed,50000,0,1,1,...,0,0,0,0,0,0,1,c:265370,2013-06-01,0
13714,21614,21614,c:69596,1998-01-01,angel,seed,200000,0,1,1,...,0,0,0,0,0,0,1,c:69596,1998-01-01,0
28661,48995,48995,c:265241,2013-03-01,angel,seed,NaN,1,1,1,...,0,0,0,0,0,0,1,c:265241,2013-03-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29328,50646,50646,c:145945,2013-10-02,angel,seed,1000000,0,1,1,...,0,0,0,0,0,0,1,c:145945,1978-01-01,13058
12466,19369,19369,c:59556,2010-10-20,series-a,a,NaN,1,1,1,...,0,0,0,0,0,0,0,c:59556,1975-01-01,13076
24552,39184,39184,c:220572,2013-03-28,angel,seed,1158000,0,1,1,...,0,0,0,0,0,0,1,c:220572,1977-01-01,13235
26876,44380,44380,c:243852,2012-07-30,angel,seed,500000,0,1,1,...,0,0,0,0,0,0,1,c:243852,1976-01-01,13360
24374,38683,38683,c:69136,2013-01-01,angel,seed,NaN,0,1,1,...,0,0,0,0,0,0,1,c:69136,1975-01-01,13880
24048,37994,37994,c:212776,2013-05-17,series-a,a,12000000,1,1,1,...,0,0,0,0,0,0,0,c:212776,1975-01-01,14016
26981,44624,44624,c:244910,2013-08-02,angel,seed,725000,0,1,1,...,0,0,0,0,0,0,1,c:244910,1975-01-01,14093
26656,43840,43840,c:16243,2012-08-31,angel,seed,127890,0,1,1,...,0,0,0,0,0,0,1,c:16243,1974-01-01,14122
30599,53862,53862,c:277196,2013-11-05,angel,seed,86000,0,1,1,...,0,0,0,0,0,0,1,c:277196,1975-01-09,14180
2369,2695,2695,c:6713,2008-02-05,series-b,b,11750000,3,1,1,...,1,0,0,0,0,0,0,c:6713,1969-03-12,14209
27021,44714,44714,c:245323,2012-07-13,series-a,a,50000,0,1,1,...,0,0,0,0,0,0,0,c:245323,1973-01-01,14438
7110,9542,9542,c:35691,2008-02-02,series-a,a,6000000,0,1,1,...,0,0,0,0,0,0,0,c:35691,1967-05-05,14883
24472,38927,38927,c:219131,2013-04-12,angel,seed,43120,0,1,1,...,0,0,0,0,0,0,1,c:219131,1971-01-01,15442
29135,50207,50207,c:267819,2011-09-14,series-a,seed,1800000,0,1,1,...,0,0,0,0,0,0,1,c:267819,1969-01-01,15596
25550,41332,41332,c:177075,2012-06-13,angel,seed,1000000,0,0,0,...,0,0,0,0,0,0,1,c:177075,1969-01-01,15869
24530,39100,39100,c:177075,2013-05-30,angel,seed,675000,0,1,0,...,0,0,0,0,0,0,1,c:177075,1969-01-01,16220
17041,27122,27122,c:144811,2011-12-16,series-a,a,10000000,1,1,1,...,0,0,0,0,0,0,0,c:144811,1967-01-01,16420
11723,18188,18188,c:36848,2010-09-09,series-c+,d,65000000,3,0,0,...,0,0,1,0,0,0,0,c:36848,1963-01-01,17418
24769,39615,39615,c:164565,2013-06-07,angel,seed,500000,0,1,1,...,0,0,0,0,0,0,1,c:164565,1960-01-01,19516
30822,54518,54518,c:279000,2013-11-12,series-a,a,25000000,5,1,1,...,0,0,0,0,0,0,0,c:279000,1959-01-01,20039
12601,19634,19634,c:8261,2005-12-30,series-c+,c,2000000,2,1,1,...,0,1,0,0,0,0,0,c:8261,1949-01-01,20817
25889,42182,42182,c:236502,2013-07-09,angel,seed,200000,0,1,1,...,0,0,0,0,0,0,1,c:236502,1954-01-01,21739
29459,50924,50924,c:269551,2013-10-04,series-a,seed,4889080,1,1,1,...,0,0,0,0,0,0,1,c:269551,1954-01-01,21826
28140,47702,47702,c:34590,2013-09-03,series-b,b,10000000,1,1,1,...,1,0,0,0,0,0,0,c:34590,1953-09-11,21907
8468,12479,12479,c:42841,2007-02-01,series-a,a,10000000,3,1,1,...,0,0,0,0,0,0,0,c:42841,1947-01-01,21946
5559,7045,7045,c:25993,2009-01-29,series-b,b,6530000,1,0,1,...,1,0,0,0,0,0,0,c:25993,1943-01-01,24135
29782,51878,51878,c:4304,2005-08-01,series-b,b,10000000,1,0,1,...,1,0,0,0,0,0,0,c:4304,1930-01-01,27606
29783,51879,51879,c:4304,2007-05-14,series-c+,c,10000000,2,0,0,...,0,1,0,0,0,0,0,c:4304,1930-01-01,28257
28872,49572,49572,c:266692,2011-10-25,angel,seed,953183,0,1,1,...,0,0,0,0,0,0,1,c:266692,1923-01-01,32439
25060,40216,40216,c:228200,2013-06-13,series-a,a,206000000,0,1,1,...,0,0,0,0,0,0,0,c:228200,1922-01-01,33401

## Average fund each term

In [355]:

avg_fund = []
for term in TermList:
    row = df_funding.loc[df_funding['funding_round_code']==term,['raised_amount_usd']]
    fund = row[pd.notnull(row.raised_amount_usd)].astype('float128').mean()
    avg_fund.append(fund)
fund_dic = dict(zip(TermList,avg_fund))

def getFund(row):
    if row[['raised_amount_usd']].isnull().item() and row[['funding_round_code']].notnull().item():
        row[['raised_amount_usd']] = fund_dic[row['funding_round_code']]
    return row
df_funding = df_funding.apply(getFund,axis=1)

In [356]:

df_funding.drop(['id_x','id_y','created_at','updated_at','funding_round_id','funding_round_type','founded_at','funded_at','is_first_round','is_last_round'],axis=1,inplace=True)

In [359]:
df_funding.to_pickle('./dataframe_cleaned/df_funding')

In [331]:
len(df_funding.groupby('object_id').groups)

16778

In [360]:
null_columns = df_funding.columns[df_funding.isnull().any()]
print(df_funding[null_columns].isnull().sum())
df_funding

Series([], dtype: float64)

,object_id,funding_round_code,raised_amount_usd,participants,a,angel,b,c,d,e,f,g,seed,time_since_founded
16944,c:144040,seed,1000000,0,0,0,0,0,0,0,0,0,1,0
4093,c:18038,a,13350000,4,1,0,0,0,0,0,0,0,0,0
19165,c:161452,seed,866033,0,0,0,0,0,0,0,0,0,1,0
19166,c:161453,seed,100000,0,0,0,0,0,0,0,0,0,1,0
19169,c:161480,angel,250000,1,0,1,0,0,0,0,0,0,0,0
28530,c:264245,angel,832099,1,0,1,0,0,0,0,0,0,0,0
4121,c:18202,seed,425000,2,0,0,0,0,0,0,0,0,1,0
19187,c:51578,angel,695850,0,0,1,0,0,0,0,0,0,0,0
19191,c:161699,seed,575000,1,0,0,0,0,0,0,0,0,1,0
19212,c:161944,angel,1000000,5,0,1,0,0,0,0,0,0,0,0
4145,c:4299,seed,1000000,0,0,0,0,0,0,0,0,0,1,0
28502,c:263989,seed,650000,0,0,0,0,0,0,0,0,0,1,0
13601,c:68549,seed,50000,0,0,0,0,0,0,0,0,0,1,0
13592,c:68486,angel,832099,0,0,1,0,0,0,0,0,0,0,0
13587,c:68442,seed,866033,1,0,0,0,0,0,0,0,0,1,0
19232,c:162067,seed,1000,0,0,0,0,0,0,0,0,0,1,0
4184,c:18701,seed,100000,0,0,0,0,0,0,0,0,0,1,0
4188,c:18741,angel,279720,6,0,1,0,0,0,0,0,0,0,0
28549,c:264553,seed,250000,0,0,0,0,0,0,0,0,0,1,0
13574,c:68329,angel,200000,0,0,1,0,0,0,0,0,0,0,0
19162,c:45196,seed,143140,1,0,0,0,0,0,0,0,0,1,0
13671,c:69063,seed,866033,0,0,0,0,0,0,0,0,0,1,0
28705,c:265497,seed,866033,0,0,0,0,0,0,0,0,0,1,0
19125,c:161240,seed,1500000,0,0,0,0,0,0,0,0,0,1,0
28693,c:265463,seed,50000,0,0,0,0,0,0,0,0,0,1,0
13719,c:64996,seed,1150000,1,0,0,0,0,0,0,0,0,1,0
4009,c:17758,a,4000000,1,1,0,0,0,0,0,0,0,0,0
28677,c:265370,seed,50000,0,0,0,0,0,0,0,0,0,1,0
13714,c:69596,seed,200000,0,0,0,0,0,0,0,0,0,1,0
28661,c:265241,seed,866033,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29328,c:145945,seed,1000000,0,0,0,0,0,0,0,0,0,1,13058
12466,c:59556,a,6.85208e+06,1,1,0,0,0,0,0,0,0,0,13076
24552,c:220572,seed,1158000,0,0,0,0,0,0,0,0,0,1,13235
26876,c:243852,seed,500000,0,0,0,0,0,0,0,0,0,1,13360
24374,c:69136,seed,866033,0,0,0,0,0,0,0,0,0,1,13880
24048,c:212776,a,12000000,1,1,0,0,0,0,0,0,0,0,14016
26981,c:244910,seed,725000,0,0,0,0,0,0,0,0,0,1,14093
26656,c:16243,seed,127890,0,0,0,0,0,0,0,0,0,1,14122
30599,c:277196,seed,86000,0,0,0,0,0,0,0,0,0,1,14180
2369,c:6713,b,11750000,3,0,0,1,0,0,0,0,0,0,14209
27021,c:245323,a,50000,0,1,0,0,0,0,0,0,0,0,14438
7110,c:35691,a,6000000,0,1,0,0,0,0,0,0,0,0,14883
24472,c:219131,seed,43120,0,0,0,0,0,0,0,0,0,1,15442
29135,c:267819,seed,1800000,0,0,0,0,0,0,0,0,0,1,15596
25550,c:177075,seed,1000000,0,0,0,0,0,0,0,0,0,1,15869
24530,c:177075,seed,675000,0,0,0,0,0,0,0,0,0,1,16220
17041,c:144811,a,10000000,1,1,0,0,0,0,0,0,0,0,16420
11723,c:36848,d,65000000,3,0,0,0,0,1,0,0,0,0,17418
24769,c:164565,seed,500000,0,0,0,0,0,0,0,0,0,1,19516
30822,c:279000,a,25000000,5,1,0,0,0,0,0,0,0,0,20039
12601,c:8261,c,2000000,2,0,0,0,1,0,0,0,0,0,20817
25889,c:236502,seed,200000,0,0,0,0,0,0,0,0,0,1,21739
29459,c:269551,seed,4889080,1,0,0,0,0,0,0,0,0,1,21826
28140,c:34590,b,10000000,1,0,0,1,0,0,0,0,0,0,21907
8468,c:42841,a,10000000,3,1,0,0,0,0,0,0,0,0,21946
5559,c:25993,b,6530000,1,0,0,1,0,0,0,0,0,0,24135
29782,c:4304,b,10000000,1,0,0,1,0,0,0,0,0,0,27606
29783,c:4304,c,10000000,2,0,0,0,1,0,0,0,0,0,28257
28872,c:266692,seed,953183,0,0,0,0,0,0,0,0,0,1,32439
25060,c:228200,a,206000000,0,1,0,0,0,0,0,0,0,0,33401